#example {
  width: 40vw;
  max-width: 500px;
  position: relative;
}

#example #progress {
  position: absolute;
  top: -65px;
  left: -15px;
  transform: rotate(-90deg);
}

#example .bg {
  stroke: #0b1011;
}

#progress .indicator {
  stroke: var(--accent);
}

#example ul {
  display: flex;
  list-style: none;
  height: 225px;
  overflow-x: scroll;
  padding: 20px 0;
  flex: 0 0 600px;
  margin: 0 auto;
  gap: 20px;
}

#example ::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: #fff3;
  -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

#example ::-webkit-scrollbar-corner {
  background: #fff3;
}

#example li {
  flex: 0 0 150px;
  background: black;
}

.project-card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
}

.project-card__image {
  width: 100%;
  height: auto;
}

.project-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 20px;
  background-color: white;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.project-card:hover .project-card__overlay {
  transform: translateY(0);
}

.project-card-header {
  border-top: solid;
  border-width: 5px;
  border-color: black;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0.75em;
  border-radius: 20px 0 0 0;
  background-color: white;
  transform: translateY(-150%);
  transition: 0.2s ease-in-out;
  min-height: 70px;
}

.project-card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 99%;
  right: 0;
  z-index: 1;
}

.project-card__arc path {
  fill: white;
  d: path("M 40 80 c 20 0 0 -22 40 -40 v 40 Z");
}

.project-card:hover .project-card-header {
  transform: translateY(0);
}

.project-card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.project-card__title {
  font-size: 0.75em;
  margin: 0;
  color: black;
}

.project-card__tagline {
  display: block;
  margin: 1em 0;
  font-size: 0.6em;
  color: black;
}

.project-card-status {
  text-decoration: underline;
  font-size: 0.4em;
  color: black;
}

.project-card-year {
  font-size: 0.5em;
  color: black;
}

.project-card__description {
  font-size: 0.5em;
  padding: 0 2em 2em;
  margin: 0;
  color: black;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;
}
