h2 {
  margin-bottom: 0.4em;
  font-size: 2.5rem;
  margin-top: 0;
}

.about-me-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
  font-size: 1rem;
}

.about-me-information-wrapper {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-me-photo {
  width: 40%;

  border-radius: 100%;
  background-color: white;
  height: 375px;
  width: 375px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-text-container {
  width: 60%;
  padding-left: 2rem;
  text-align: left;
}

.about-me-text {
  font-size: 1.1rem;
}
