.circles-container-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 22vh;
  margin-inline: auto;
  width: fit-content;
}

.circles-container {
  display: flex;
  flex-direction: row;
  width: 700px;
  height: 200px;
  justify-content: space-around;
  font-size: 1rem;
}

.circle-container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-animation {
  position: absolute;
  border-radius: 100%;
  inset: 0;
  width: 125px;
  height: 125px;
  display: flex;
}

.button {
  position: relative;
  border-radius: 100%;
  padding: 0;
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  color: black;
}

.left-righ-buttons {
  border-radius: 100%;
  background-color: white;
  position: absolute;
  padding: 0;

  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
