.flower {
  width: 15vw;
  height: 5vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  margin-top: 200px;
}

.flower::before {
  content: "";
  display: block;
  position: absolute;
  width: 15vw;
  height: 5vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  transform: rotate(60deg);
}

.flower::after {
  content: "";
  display: block;
  width: 15vw;
  height: 5vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  transform: rotate(-60deg);
}

.small-flower {
  width: 10vw;
  height: 3vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  margin-top: 200px;
}

.small-flower::before {
  content: "";
  display: block;
  position: absolute;
  width: 10vw;
  height: 3vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  transform: rotate(60deg);
}

.small-flower::after {
  content: "";
  display: block;
  width: 10vw;
  height: 3vw;
  background: #0ca9f5;
  background: radial-gradient(
    circle,
    rgba(12, 169, 245, 1) 0%,
    rgba(60, 193, 243, 1) 56%,
    rgba(205, 244, 245, 1) 100%
  );
  border-radius: 50px;
  transform: rotate(-60deg);
}
