.coursecard {
  margin: 5px auto;
  max-width: 100px;
  width: 8vw;
  height: 60px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 4px rgba(0, 0, 0, 0.15),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.12);
  transition: 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.coursecard .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.coursecard:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 0.5rem;
}

@media (max-width: 725px) {
  p {
    font-size: 1vw;
  }

  .coursecard {
    padding: 0.6em;
  }
}
