.course-card-container {
  display: flex;
  max-width: 1250px;
  width: 100%;
  margin-top: 2vh;
  gap: 1rem;
}

.course-card {
  max-width: 400px;
  width: 30vw;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: black;
  flex-direction: row;
  padding: 10px;
  padding-left: 16.5px;
  padding-right: 16.5px;
  border-radius: 5px;
  gap: 1vw;
}

.course-image {
  width: 50px;
  height: 50px;
}

.course-text {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: 100%;
}

.coursecard .card_title {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.course-card p {
  margin: 0;
  text-align: left;
  width: 100%;
  font-size: 1rem;
}

@media (max-width: 1350px) {
  .course-card {
    width: 11vw;
  }
}

@media (max-width: 850px) {
  .course-card {
    width: 12vw;
    gap: 0.5rem;
    padding: 2.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;

    font-size: 1vw;
  }

  .course-card-container {
    margin-top: 1vh;
    gap: 0.5rem;
  }
}
